@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*general*/
article, aside, figure, footer, header, main, menu, nav, section {
	display: block;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body, h1, h2, p, ul, ol, li, dd, dl {
	margin: 0; padding: 0;

}
/*table styling*/
header {
	padding: 50px 20px;
}
h1, main {
	text-align: center;
}
table {
	border-collapse: collapse;
	display: inline-block;
	text-align: left;
	border-top: 1px solid #888;
}
table thead {
	background: #bbb;
}
table tr:nth-child(even) {
	background: #dfdfdf;
}
table th, table td {
	padding: 10px 20px;
	border: 1px solid #888;
	border-width: 0 1px 1px;
}
/*responsive table*/
@media screen and (max-width: 1000px) {
	/*put each field on its own line and align text to the right
	 *border is added for further readability
	 */
	table td {
		display: block;
		text-align: right;
	}
	/*put data-label content before each field floated to the left*/
	table td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		margin-right: 10px;
	}
	/*remove thead*/
	table thead {
		display: none;
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	font-family: 'Roboto', sans-serif;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }